In [1]:
%config Completer.use_jedi = False

In [51]:
import pandas as pd
import numpy as np

In [290]:
start_row = []
end_row =[]
start_col = []
end_col = []
with open("test5.txt") as f:
    for line in f:
        lines = line.rstrip()
        start = lines.split(' -> ')[0]
        end = lines.split(' -> ')[1]
        start_row.append(int(start.split(',')[1]))
        start_col.append(int(start.split(',')[0]))
        end_row.append(int(end.split(',')[1]))
        end_col.append(int(end.split(',')[0]))
df = pd.DataFrame({'row0':start_row,'col0':start_col,'row1':end_row, 'col1':end_col})
df
# mask1 = df['x0'] == df['x1']
# mask2 = df['y0'] == df['y1']
# df1 = df[mask1 | mask2]
# df1.reset_index()
# df1.head()

   row0  col0  row1  col1
0     9     0     9     5
1     0     8     8     0
2     4     9     4     3
3     2     2     1     2
4     0     7     4     7
5     4     6     0     2
6     9     0     9     2
7     4     3     4     1
8     0     0     8     8
9     5     5     2     8

In [294]:
start_row = []
end_row =[]
start_col = []
end_col = []
with open("input5.txt") as f:
    for line in f:
        lines = line.rstrip()
        start = lines.split(' -> ')[0]
        end = lines.split(' -> ')[1]
        start_row.append(int(start.split(',')[0]))
        start_col.append(int(start.split(',')[1]))
        end_row.append(int(end.split(',')[0]))
        end_col.append(int(end.split(',')[1]))
df = pd.DataFrame({'row0':start_row,'col0':start_col,'row1':end_row, 'col1':end_col})
df
# mask1 = df['x0'] == df['x1']
# mask2 = df['y0'] == df['y1']
# df1 = df[mask1 | mask2]
# df1.reset_index()
# df1

     row0  col0  row1  col1
0     644    38   644   265
1     941   468   941    89
2     807   552   618   363
3     896   510   896   744
4     227   909   227   745
..    ...   ...   ...   ...
495    81   811    81   586
496   303   365   910   972
497   177   134   962   919
498   405    41   405   645
499   219   934   441   934

[500 rows x 4 columns]

In [116]:
# def lines(row):
#     if row['x0'] == row['x1']:
#         typ = 'vertical'
#         length = row['y1']-row['y0']
#         loc = row['x0']
#         start = row['y0']
#     elif row['y0'] == row['y1']:
#         typ = 'horizontal'
#         length =row['x1']-row['x0']
#         loc = row['y0']
#         start = row['x0']
#     else:
#         typ = 'not straight'
#         length = 0
#         loc = 0
#         start = 0
#     return pd.Series([typ, length, loc, start])


# df1['type'], df1['length'], df1['loc'], df1['start'] = df1.apply(lines, axis=1)

# df1

In [295]:
linspace = max(df.row0.max(), df.row1.max(), df.col0.max(), df.col1.max())+1
matrix = np.zeros((linspace, linspace), dtype='int64')
data_space = pd.DataFrame(matrix)
count = 0

def draw_line(x0 , y0, x1, y1, count):
    global data_space
    if x0 == x1:
        start = min(y0,y1)
        end = max(y0,y1)
        for i in range(start, end+1):
            data_space.iloc[x0,i]+=1
            if data_space.iloc[x0,i] == 2:
                count+=1
                
    elif y0 == y1:
        start = min(x0,x1)
        end = max(x0,x1)
        for i in range(start, end+1):
            data_space.iloc[i,y0]+=1
            if data_space.iloc[i,y0] == 2:
                count+=1
    else: 
        row = int((x1-x0)/abs(x1-x0))
        col = int((y1-y0)/abs(y1-y0))
        for i in range(abs(x1-x0)+1):
            eval_row = x0+row*i
            eval_col = y0+col*i
            data_space.iloc[eval_row, eval_col]+=1
            if data_space.iloc[eval_row, eval_col] == 2:
                count+=1
                
    return count
            

for index, row in df.iterrows():
    count = draw_line(row.row0, row.col0, row.row1, row.col1, count)

print(count)

22213